{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Types List
    <a style="float: right" href="{% url 'kitchen:dish-type-create' %}" class="btn btn-success">+ Add dish type</a>
  </h1>

  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>{{ dish_type.id }}</td>
          <td>
            <a href="{% url 'kitchen:dish-type-detail' dish_type.id %}">
              {{ dish_type.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}" class="btn btn-primary">Update</a>
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No dish types found.</p>
  {% endif %}
{% endblock %}
