{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Ingredients</h1>
  <a style="float: right" href="{% url 'kitchen:ingredient-create' %}" class="btn btn-success">+ Add ingredient</a>
  <form method="get" action="" class="d-flex align-items-center gap-2 mb-3">
     <div style="width: 300px; margin-bottom: 0;">
       {{ search_form|crispy }}
     </div>
     <button class="btn btn-secondary" type="submit" style="margin-top: -16px;">🔎</button>
  </form>

  <div class="accordion" id="ingredientsAccordion">
    {% for ingredient in ingredient_list %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ ingredient.id }}">
          <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse{{ ingredient.id }}"
                  aria-expanded="false"
                  aria-controls="collapse{{ ingredient.id }}">
            {{ ingredient.name }}
          </button>
        </h2>
        <div id="collapse{{ ingredient.id }}" class="accordion-collapse collapse"
             aria-labelledby="heading{{ ingredient.id }}"
             data-bs-parent="#ingredientsAccordion">
          <div class="accordion-body">
            <ul>
              {% for dish in ingredient.dishes.all %}
                <li>
                  <a href="{% url 'kitchen:dish-detail' dish.id %}">{{ dish.name }}</a>
                </li>
              {% empty %}
                <li class="text-muted">No dishes use this ingredient</li>
              {% endfor %}
            </ul>

            <!-- Додані кнопки для апдейту та видалення -->
            <div class="mt-2">
              <a href="{% url 'kitchen:ingredient-update' ingredient.id %}" class="btn btn-primary btn-sm">Update</a>
              <a href="{% url 'kitchen:ingredient-delete' ingredient.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-muted">No ingredients found</p>
    {% endfor %}
  </div>
{% endblock %}
